<section class="auth-wrap container">
  <div class="auth-grid">
    <div class="auth-card auth-login">
      <h1 class="auth-title">INICIAR SESIÓN</h1>
      <form class="form">
        <label class="label">Correo electrónico <span class="req">*</span></label>
        <input class="input" type="email" placeholder="Ej. nombre@mail.com" />

        <label class="label">Contraseña <span class="req">*</span></label>
        <div class="input-with-icon">
          <input class="input" type="password" placeholder="Tu contraseña" />
          <button type="button" class="eye" aria-label="Mostrar contraseña">👁️</button>
        </div>

        <a class="forgot" href="#">Olvidé mi contraseña</a>

        <button class="btn btn--primary btn-full" type="button">Iniciar sesión</button>
      </form>
    </div>

    <div class="auth-card auth-register">
      <h1 class="auth-title">CREAR CUENTA</h1>
      <div class="register-copy">
        <p>Crea una y aprovecha los beneficios:</p>
        <ul>
          <li>Realiza tus compras de manera más ágil.</li>
          <li>Guarda múltiples direcciones de envío y facturación.</li>
          <li>¡Crea tu propia hamburguesa BEMBOS!.</li>
          <li>Unete a la comunidad BEMBOS y comparte tus creaciones.</li>
        </ul>
        <button class="btn btn--primary btn-full" type="button">Crear cuenta</button>
      </div>
    </div>
  </div>
</section>
